@font-face {
	font-family: 'datavisium';
	src:url('fonts/datavisium.eot?-bz2sdv');
	src:url('fonts/datavisium.eot?#iefix-bz2sdv') format('embedded-opentype'),
		url('fonts/datavisium.woff?-bz2sdv') format('woff'),
		url('fonts/datavisium.ttf?-bz2sdv') format('truetype'),
		url('fonts/datavisium.svg?-bz2sdv#datavisium') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'datavisium';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-maintenance:before {
	content: "\e607";
}

.icon-linkedin:before {
	content: "\e605";
}

.icon-twitter:before {
	content: "\e606";
}

.icon-empty-dot:before {
	content: "\e600";
}

.icon-envelope:before {
	content: "\e601";
}

.icon-full-dot:before {
	content: "\e602";
}

.icon-info:before {
	content: "\e603";
}

.icon-slash:before {
	content: "\e604";
}

.icon-menu:before {
	content: "\e608";
}

.icon-tags:before {
	content: "\e936";
}

.icon-link:before {
	content: "\ea7e";
}

.icon-pdf:before {
	content: "\eada";
}

